
<form action="<%= students_search_path %>">
  <label>Search: </label>
  <input type="text" name:"student">
  <input type="submit" name="" id="">
</form>

<% if @student %>
  <%= render partial: 'student', locals: {student: @student} %>
<% end %>
