
<form action="<%= students_path %>">
  <label>Search: </label>
  <input type="text" name:"student">
  <input type="submit" name="" id="Search">
</form>

<%= render partial: 'student', locals: {student: @student} %>
