
<%= form_tag search_path, method: 'post' %>
  <label>Search: </label>
  <input type="text" name:"student">
  <input type="submit" name="" id="">
</form>

<% if @student %>
  <%= render partial: 'student', locals: {student: @student} %>
<% end %>
